# node and NPM
npm-debug.log
node_modules
..bfg-report

# swap files
*~
*.swp

*.bin


env.sh
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
.ipynb_checkpoints

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
docs/tmp*

# OS X garbage
.DS_Store

# Debian things
debian/reproducible-experiment-platform
debian/files
*.substvars
*.debhelper.log
week01_embeddings/quora.txt
*.vec
*.csv
*.json
week04_seq2seq/1.3.0
week04_seq2seq/bpe_rules.en
week04_seq2seq/bpe_rules.ru
week04_seq2seq/data.txt
week04_seq2seq/train.bpe.en
week04_seq2seq/train.bpe.ru
week04_seq2seq/train.en
week04_seq2seq/train.ru
week04_seq2seq/vocab.py
week04_seq2seq/data.txt
week04_seq2seq/vocab.py
*.txt
demo/model-dict-ent.dat
demo-1/intent_classifier.dat
demo-1/intent_classifier.onnx
demo-1/model-dict.dat
demo-1/onnx/model.onnx
demo/ner_classifier.onnx
week08_llm/outputs/checkpoint-1000/optimizer.pt
week08_llm/outputs/checkpoint-1000/pytorch_model.bin
week08_llm/outputs/checkpoint-1000/rng_state.pth
week08_llm/outputs/checkpoint-1000/scaler.pt
week08_llm/outputs/checkpoint-1000/scheduler.pt
week08_llm/outputs/checkpoint-1000/training_args.bin
week08_llm/outputs/checkpoint-500/optimizer.pt
week08_llm/outputs/checkpoint-500/pytorch_model.bin
week08_llm/outputs/checkpoint-500/rng_state.pth
week08_llm/outputs/checkpoint-500/scaler.pt
week08_llm/outputs/checkpoint-500/scheduler.pt
week08_llm/outputs/checkpoint-500/training_args.bin
LLM/lora_adapters/adapter_model.bin
LLM/outputs/checkpoint-1000/optimizer.pt
LLM/outputs/checkpoint-1000/pytorch_model.bin
LLM/outputs/checkpoint-1000/rng_state.pth
LLM/outputs/checkpoint-1000/scaler.pt
LLM/outputs/checkpoint-1000/scheduler.pt
LLM/outputs/checkpoint-1000/training_args.bin
LLM/outputs/checkpoint-500/optimizer.pt
LLM/outputs/checkpoint-500/pytorch_model.bin
LLM/outputs/checkpoint-500/rng_state.pth
LLM/outputs/checkpoint-500/scaler.pt
LLM/outputs/checkpoint-500/scheduler.pt
LLM/outputs/checkpoint-500/training_args.bin
LLM/outputs_marketing/checkpoint-9/pytorch_model.bin
LLM/lora_adapters-30b/adapter_model.bin
LLM/adapters/gpt-j-6B-marketing/adapter_model.bin
LLM/adapters/gpt-j-6B-wm/adapter_model.bin
LLM/adapters/gpt-neox-20B-armm/adapter_model.bin
LLM/adapters/gpt-neox-20B-wm/adapter_model.bin
LLM/adapters/lora_adapters/adapter_model.bin
LLM/adapters/lora_adapters-30b/adapter_model.bin
LLM/adapters/gpt-neox-20B-wm_purch_resp/adapter_model.bin
LLM/adapters/gpt-neox-20B-wm_list_resp/adapter_model.bin
LLM/adapters/gpt-neox-20B-armm_list/adapter_model.bin
LLM/adapters/gpt-neox-20B-armm_list_fix/adapter_model.bin
LLM/adapters/gpt-neox-20B-armm_req/adapter_model.bin
LLM/adapters/gpt-neox-20B-armm_req_fix/adapter_model.bin
LLM/adapters/gpt-neox-20B-wm_list_resp_fix/adapter_model.bin
LLM/adapters/gpt-neox-20B-wm_purch_resp_fix/adapter_model.bin
LLM/training/epoch-0.9/adapter_model.bin
LLM/training/epoch-2.0/adapter_model.bin
LLM/training/epoch-2.9/adapter_model.bin
LLM/training/epoch-4.0/adapter_model.bin
LLM/training/epoch-4.7/adapter_model.bin
